<app-first></app-first>
<!--for dependency injection write name of service class in module->providers -->

<!--class binding, attribute binding, property binding ([type]="a"), style binding, event binding,template variable-->
<ol #temp [attr.type]="a" [class.first]="c" [style.background-color]="d" (click)="f1(temp)">
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
</ol>

<!--two way binding for this module.ts-> imports: formsmodule -->
<input type="text" (keyup.shift)="f2()" [(ngModel)]="section"><br>

<!--Can use value of of input to another with the help of ngmodel-->
<input ngModel type="text" #v1="ngModel"><br>
<input type="text" value="" (keyup.enter)="f3(v1.value)"><br>

<!--Using bootstrap install with npm install bootstrap and in css @import "~bootstrap/dist/css/bootstrap.css"-->
<button class="btn btn-outline-success">click</button><br>

<!--Using default pipes uppercase lowercase currency(by default usd for others currency: 'CAD') date percentage decimal-->
<p>{{title | uppercase}}</p>

<!--Using custom pipe-->
<p>{{2 | mypipe:200:300}}</p>

<!--Directives-->
<p *ngIf="show">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, quibusdam?</p>
<li *ngFor="let i of list">{{i}}</li>
<p [hidden]="visible">Lorem, ipsum.</p>
<div [ngSwitch]="day">
  <div *ngSwitchCase="1">Monday</div>
  <div *ngSwitchCase="2">Tuesday</div>
  <div *ngSwitchCase="3">Wednesday</div>
</div>
<div [ngClass]="{'active': isActive, 'disabled': isDisabled}" [ngStyle]="{'color': 'pink', 'font-size.px': '50'}">
  Lorem ipsum dolor sit amet consectetur.
</div>

<!-- bootstrap form -->
<form action="">
  <div class="form-group">
    <label>Email:</label>
    <input style="border: 1px solid black;" type="email" name="email" class="form-control" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label>Password:</label>
    <input style="border: 1px solid black;" type="password" name="pswd" class="form-control"
      placeholder="Enter password">
  </div>
  <div class="form-check-inline">
    <label>Gender:
      <input style="border: 1px solid black;" type="checkbox" name="" id="" class="form-check-input">Male</label>
  </div>
  <div class="form-check-inline">
    <label>
      <input style="border: 1px solid black;" type="checkbox" name="" id="" class="form-check-input">Female</label>
  </div><br>
  <div class="form-check-inline">
    <label for="">Status:<input style="border: 1px solid black;" type="radio" class="form-check-input"
        name="radio1">Single</label>
  </div>
  <div class="form-check-inline">
    <label for=""><input style="border: 1px solid black;" type="radio" name="radio1" id=""
        class="form-check-input">Married</label>
  </div>
  <div class="form-group">
    <label for="">Comment:</label>
    <textarea class="form-control" rows="5" id="comment" style="resize: none; border: 1px solid black;"></textarea>
  </div>
  <div class="form-group form-check">
    <div class="form-group">
      <label for="">Select List</label>
      <select style="border: 1px solid black;" class="form-control">
        <option selected>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <label for="name">Multiple select list</label>
      <select style="border: 1px solid black;" multiple class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <label><input style="border: 1px solid black;" type="checkbox" class="form-check-input" name="remember">Remember
      me</label>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

<!-- use of ngModel in forms ngModelgroup is the collection of two or more ngModel  -->
<input ngModel type="text" #v1="ngModel"><br>
<input type="text" value="" (keyup.enter)="f3(v1.value)"><br>
<form action="">
  <div class="form-group">
    <label for="id1">Value-1</label>
    <input required ngModel type="text" name="g1" #V1="ngModel" minlength="5">
    <div class="alert alert-danger" *ngIf="V1.touched && !V1.valid">
      <div *ngIf="V1?.errors?.['required']">first name is required</div>
      <div *ngIf="V1?.errors?.['minlength']"> minimumcharactter length</div>
      <div *ngIf="V1?.errors?.['maxlength']">max should be 10</div>
      <div *ngIf="V1?.errors?.['pattern']">pattern mismatches</div>
    </div>
  </div>
  <div class="form-group">
    <label for="id2">Description</label>
    <textarea id="id2" cols="20" rows="5" class="form-control"></textarea>
  </div>
  <input type="submit" value="submit">
</form>

<!-- ngform-> main difference between ngform and ngmodel is that suppose if u want to access value of input field then u have to use ngmodel because it gives the value of specific field whereas ngform gives the value of whole form -->
<input type="text">
<input type="text" ngForm #f="ngForm" (keyup.enter)="f3(f.value)">

<!-- disabling input button and normal button -->
<input [disabled]="true" type="submit" value="submit">
<button [disabled]="true">ggg</button>

<!-- @input to transfer data from parent to child -->

<!-- http -->
<app-httpcomp></app-httpcomp>

<!--Routing-->
<a routerLink="routing1">R1</a><br>
<a routerLink="routing2">R2</a><br>
<router-outlet></router-outlet>